.notes {
  @include media-min-width($note-zero-padding-breakpoint) {
    padding: 1rem;
  }

  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem 0;

  &--flex {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__zero-notes {
    @include media-min-width(60em) {
      font-size: 3em;
    }

    color: $notes-zero-color;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__wrapper {
    @include media-min-width($note-zero-padding-breakpoint) {
      padding: .5rem;
    }

    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 60rem;
    padding: .5rem 0;
  }
}

.note {
  @include media-min-width($note-zero-padding-breakpoint) {
    padding: .5rem;
  }

  background-color: $note-background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  padding: .5rem 0;
  position: relative;

  &:not(:last-child) {
    &::after {
      border-top: .25rem $notes-delimiter-color;
      border-top-style: dotted;
      bottom: -2.25rem;
      content: '';
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 80%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__content {
    background-color: $note-content-background-color;
    flex: 1 1 auto;
    margin-top: .5rem;
    overflow: auto;
    padding: .5rem;
    position: relative;
  }

  &__menu {
    padding: 0 .5rem;
  }

  &__menu-items {
    @include media-min-width($note-menu-breakpoint) {
      flex-direction: row;
      margin-right: 1rem;

      &:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    };

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
  }

  &__menu-item {
    align-self: center;
    color: $note-menu-color;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: .5rem 0;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;

    &.is-outlined--preview {
      background-color: transparent;
      border-color: $primary;
      color: $primary;

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $white;
        color: $white;
      }

      &.active {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include media-min-width($note-menu-breakpoint) {
      margin-right: 1rem;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  &__menu-icon {
    align-items: center;
    display: inline-flex;
    font-size: .875em;
    height: 2rem;
    justify-content: center;
    vertical-align: middle;
    width: 2rem;
  }

  &__menu-label {
    align-items: center;
    display: inline-flex;
    font-size: 1em;
    font-weight: bold;
    line-height: 2rem;
    padding: 0 .5rem;
    vertical-align: middle;
    white-space: nowrap;
  }

  &__tags {
    background-color: $note-tags-background-color;
    overflow: auto;
    padding: .5rem;

    &--zero-tags {
      color: $note-tags-zero-color;
    }
  }
}
