// Coolors Exported Palette - coolors.co/01161e-124559-598392-aec3b0-eff6e0

// RGB
$color1: rgba(1, 22, 30, 1);
$color2: rgba(18, 69, 89, 1);
$color3: rgba(89, 131, 146, 1);
$color4: rgba(174, 195, 176, 1);
$color5: rgba(239, 246, 224, 1);
