@import '~@/assets/scss/base';
@import '~@/assets/scss/nav';
@import '~@/assets/scss/notes';
@import '~@/assets/scss/tags';

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: $background;
  min-height: 100%;
}

.fix-top-padding {
  padding-left: 0;
  padding-top: 4rem;
  transition: padding-left $left-menu-transition;

  &.collapsed {
    padding-left: 6rem;
  }

  &.uncollapsed {
    padding-left: 20rem;
  }
}

.main-flex {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
}
