@import '~bulma/sass/utilities/initial-variables';
@import '~@/assets/scss/palette';

$background: $color5;
$body-size: 100%;
$burger-color: $color4;
$burger-color-hover: $color5;
$family-sans-serif: 'Roboto', sans-serif;
$left-menu-transition: .25s ease-in-out;
$nav-background-color: $color4;
$nav-font-color: $color2;
$nav-font-color-hover: $color1;
$note-background-color: $color2;
$note-content-background-color: $color5;
$note-menu-breakpoint: 52em;
$note-menu-color: $color4;
$note-menu-hover-color: $color5;
$note-tags-background-color: $color5;
$notes-zero-color: $color2;
$tags-inactive-background-color: $color2;
$tags-inactive-zero-color: $color5;
$top-nav-background-color: $color1;
$top-nav-box-shadow-color: rgba(0, 0, 0, .65);
