@import "~bulma/sass/utilities/initial-variables";
@import "./palette.scss";

$background: $color5;
$body-size: 100%;
$burger-color: $color4;
$burger-color-hover: $color5;
$nav-color: $color4;
$primary: $color1;
